a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a,
a:visited,
a:active {
  color: inherit;
}

/* @keyframes bgScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -1707px;
  }
}

.main-bg {
  animation: bgScroll 20s linear infinite;
}
 */
